@using System
@using System.Collections.Generic
@using System.Linq;
@using System.Reflection
@using Microsoft.AspNetCore.Html;
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.Rendering
@using ThisDevelopersLife
@using ThisDevelopersLife.Models
@inherits Show

@functions {

    public Episode CurrentEpisode {get; set;}
    
    public async Task OnGetAsync()
    {
        CurrentEpisode = await GetEpisode();
    }
    
}

@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Show = CurrentEpisode;
}

<audio id="audio-@CurrentEpisode.Slug" preload="none" src="http://podtrac.com/pts/redirect.mp3/traffic.libsyn.com/devlife/@HtmlEncoder.Encode(CurrentEpisode.MediaFile)"></audio>
<div class='container'> 
    <div class='column span-24 tmargin-36' id='show'> 
        <div class='column span-11 prepend-1 append-2'>
            <div class="column span-11 bpad-24">
               <img src="@Href("~/Images/" + CurrentEpisode.LeadImage)"
                    alt="@CurrentEpisode.Title" width="440"/>
            </div>
    <h1>@CurrentEpisode.Title</h1>
            <div class="column span-11 bpad-12">
                <div class='tweet-button'> 
                <a class='twitter-share-button' data-count='horizontal' 
                data-related='robconery:shanselman' data-text='@CurrentEpisode.Title' 
                data-url='http://thisdeveloperslife.com/Show?slug=@CurrentEpisode.Slug' 
                data-via='shanselman' href='http://twitter.com/share'>Tweet</a> 
                <script src='http://platform.twitter.com/widgets.js' type='text/javascript'></script> 
                </div>
            </div>
            <div class="column span-24 bmargin-24">
                @*Partials.Facebook(CurrentEpisode)*@
                <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://thisdeveloperslife.com/Show?slug=@CurrentEpisode.Slug" show_faces="true" width="450" action="recommend"></fb:like>
            </div>
            <h2>
                <a href="http://podtrac.com/pts/redirect.mp3/traffic.libsyn.com/devlife/@HtmlEncoder.Encode(CurrentEpisode.MediaFile)">
                    Download Here
                </a>
                
            </h2>
            @await Html.PartialAsync($"_{CurrentEpisode.Title.ToLower().Replace(" ","-").Replace(".","-")}")
        
        </div>
        <div class='column span-6'> 
            <div class='column player'>
                
                  <audio class="margin_top" style="width: 300px; display: block;" id="tdl-podcast" preload="none" controls src="http://podtrac.com/pts/redirect.mp3/traffic.libsyn.com/devlife/@HtmlEncoder.Encode(CurrentEpisode.MediaFile)"></audio>

            </div> 
      </div> 
    </div>
</div>